<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Main charts -->
        <div class="row">
            <div class="col-lg-7">
                <!-- Traffic sources -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Scores at each hierarchy level 1</h6>
                    </div>
                    <div class="position-relative" id="chart_1"></div>
                </div>
            </div>
            <div class="col-lg-5">
                <!-- Traffic sources -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Scores at each hierarchy level 2</h6>
                    </div>
                    <div class="position-relative" id="chart_2"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <!-- Traffic sources -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Scores at each hierarchy level 3</h6>
                    </div>
                    <div class="position-relative" id="chart_3"></div>
                </div>
            </div>
            <div class="col-lg-5">
                <!-- Traffic sources -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Scores at each hierarchy level 4</h6>
                    </div>
                    <div class="position-relative" id="chart_4"></div>
                </div>
            </div>
        </div>
    </div>
</div>