{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Hinyango Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!--external css-->
    <link href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" type="text/css">

  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT




      *********************************************************************************************************************************************************** -->

	  <div id="password-reset-page">
	  	<div class="container">
	  	
  	<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">Email address:</label>
        {{ form.email }}
    </div>
    <input type="submit" value="Reset my password" />
</fieldset>
</form>
	  	
	  	</div>
            <div class="background-image-fixed cover-image" style="background-image : url('{% static "assets/images/backgrounds/purple-background-images-8.jpg" %}')"></div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/bootstrap3/dist/js/bootstrap.min.js' %}"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script>
        $.backstretch("{% static 'assets/images/backgrounds/purple-background-images-8.jpg' %}", {speed: 0});
    </script>

  </body>
</html>
