{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!--external css-->
    <link href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/table-responsive.css' %}" rel="stylesheet" type="text/css">
    

  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="{% url 'dashboard' %}" class="logo"><b>Change Compass</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
              
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu"> <!--ISSUE This will need to change when I move dashboard-->
                    <li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              	  <p class="centered"><a href="{% url 'logout' %}"><img src="{% static 'img/ccompassico5.svg' %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{ user.username|capfirst}}</h5> 

                  <li class="sub-menu">
                      <a>
                          <i class="fa fa-book"></i>
                          <span>Manage Projects</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{% url 'addproject' %}">Add</a></li> <!-- This will point to ccprojects app -->
                          <li><a  href="#">Update</a></li> <!-- This will point to ccprojects app -->
                          <li><a  href="#">Delete</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a>
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Reports</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="#">...</a></li>
                          <li><a  href="#">...</a></li>
                          <li><a  href="#">...</a></li>
                      </ul>
                  </li>
                  
                  <li class="sub-menu">
                      <a>
                          <i class="fa fa-tasks"></i>
                          <span>Tasks</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="#">...</a></li>
                          <li><a  href="#">...</a></li>
                          <li><a  href="#">...</a></li>
                      </ul>
                  </li>
                  
                  <li class="sub-menu">
                      <a>
                          <i class="fa fa-cogs"></i>
                          <span>Settings</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="#">...</a></li>
                          <li><a  href="#">...</a></li>
                          <li><a  href="#">...</a></li>
                      </ul>
                  </li>



              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              
          <!-- charts start-->
              <div class="tab-pane" id="chartjs">
                  <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
							  <h4><i class="fa fa-angle-right"></i> Project Health</h4>
                              <div class="panel-body text-center">
                                  <canvas id="ccpie" height="200" width="400"></canvas>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="content-panel">
							  <h4><i class="fa fa-angle-right"></i> Benefits</h4>
                              <div class="panel-body text-center">
                                  <canvas id="ccbar" height="200" width="400"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Charts end-->
              
		  	<div class="row mt">
              <div class="col-lg-12">
                      <div class="content-panel">
						  <h4><i class="fa fa-angle-right"></i> Current Projects</h4>
                          <section id="no-more-tables">
                              <table class="table table-bordered table-striped table-condensed cf">
                                  
                                  <thead class="cf">

                                  <tr>
                                      <th>Id</th>
                                      <th>Project</th>
                                      <th>Benefit</th>
                                      <th>Health</th>
                                      <th>Level</th>
                                      <th>Change Type</th>
                                      <th>Status</th>
                                      <th>Confirmed</th>
                                      <th>Created</th>
                                  </tr>

                                  </thead>
                                  
                                  <tbody>
                                      
                                    {% for project in projectdata %}
      
                                    <tr>
                                        
                                      <td data-title="Id">{{ project.id }}</td>
                                      <td data-title="Project">{{ project.project_name }}</td>
                                      <td data-title="Benefit">{{ project.benefit }}</td>
                                      <td data-title="Health">{{ project.health }}</td>
                                      <td data-title="Level">{{ project.level }}</td>
                                      <td data-title="change_type">{{ project.change_type }}</td>
                                      <td data-title="Status">{{ project.status }}</td>
                                      <td data-title="Confirmed">{{ project.confirmed }}</td>
                                      <td data-title="Created">{{ project.created_on }}</td>
                                      
                                    </tr>
                                  
                                    {% endfor %}
                                  
                                  </tbody>
                              </table>
                          </section>
                      </div><!-- /content-panel -->
                  </div><!-- /col-lg-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              Change Compass - 2016
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>


    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap3/dist/js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="{% static 'js/common-scripts.js' %}"></script>

        <!--script for this page-->
    <script src="{% static 'js/chart-master/Chart.js' %}"></script>
    <!--<script src="{% static 'js/ccompass_reports.js' %}"></script>-->
    
    <!-- Chart Scripts -->
    <script type="text/javascript">
    var script = function() {
            
        
    var pieData = [
        {% for chart in piedata %}
        {value : {{ chart.total }},color : '{{ chart.color }}',label : '{{ chart.label }}',labelcolor : 'white',labelFontSize : 16 },
        {% endfor %}
    ];
   
var barChartData = {
    
    labels : {{ benefit_labels|safe }},
    datasets : [
        {
           fillColor : "rgba(220,220,220,0.5)",
           strokeColor : "rgba(220,220,220,1)",
           data : {{ chart1 }}
        }
           ]
};


var ctx = document.getElementById('ccpie').getContext('2d');
var piechart = new Chart(ctx).Pie(pieData);
var ctx = document.getElementById('ccbar').getContext('2d');
var barchart = new Chart(ctx).Bar(barChartData);

}();
</script>   

    

  </body>
</html>
