{% extends "base.html" %} {% load staticfiles %} {% block title %}Add new user{% endblock %} 
{% block custcss %}
<link href="{% static 'assets/css/dropzone.css' %}" rel="stylesheet" type="text/css">
<!--link rel="stylesheet" type="text/css" href="{% static '<<PATH TO ASSET>>' %}" />
<style> </style-->
{% endblock %} 
{% block main_content%}
<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">Upload Company Image</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-action="collapse" data-popup="tooltip" title="Collapse"></a>
                </li>
                <li>
                    <a data-action="reload" data-popup="tooltip" title="Reload"></a>
                </li>
                <li>
                    <a data-action="close" data-popup="tooltip" title="Close"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
       <form action="{% url 'cyicon' %}" method="POST" class="dropzone" id="hi_dropzone_companyicon" enctype="multipart/form-data">
                        {% csrf_token %}
        </form>

    </div>
</div>
{% endblock %}
{% block customjs%}
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>
    <script type="text/javascript">
//$(document).ready(function() {

console.log('hey baby');
//$(function() {

Dropzone.autoDiscover = false;


    $("#hi_dropzone_companyicon").dropzone({paramName: 'companyimage',
                                         acceptedFiles: 'image/jpg, image/jpeg, image/png, .jpg, .JPG, .png, .jpeg .JPEG, .png',
                                         maxFilesize: 1,
                                         uploadMultiple: false,
                                         addRemoveLinks: false,
                                         dictDefaultMessage: 'Drag in company icon in png format or click for dialog',
                                         success: function(file, response){
                                            if(response['result']=='Error'){
                                                new PNotify({
                                                    title: 'Error',
                                                    text: response['message'],
                                                    type: 'error',
                                                    icon: 'glyphicon glyphicon-warning-sign',
                                                    delay: 15000
                                                    });


                                            }else if(response['result']=='Success'){
                                                new PNotify({
                                                    title: 'Success',
                                                    text: response['message'],
                                                    type: 'success',
                                                    icon: 'glyphicon glyphicon-warning-sign',
                                                    delay: 15000
                                                    });
                                            }else{
                                                new PNotify({
                                                    title: 'Warning',
                                                    text: response['message'],
                                                    type: 'info',
                                                    icon: 'glyphicon glyphicon-warning-sign',
                                                    delay: 15000
                                                    });




                                            }

                                        }
                                    });




//});
</script>
{% endblock %}

